/***********************reset css**********************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

/******************Nouvelles polices de caractère*******************/
@font-face 
{font-family : 'prism';
src: url('Fonts/prism_regular.otf') format('otf');
src: url('Fonts/font.woff2') format('woff2'), 
url('Fonts/font.woff') format('woff');}

@font-face 
{font-family : 'old';
src: url('Fonts/old_standard.ttf') format('TrueType');}

@font-face 
{font-family : 'poiret';
src: url('Fonts/poiret.ttf') format('TrueType');}
/*******************************************************************/

html{ 
  margin:0;
  padding:0;
  background: white; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

#logo{
	z-index: 100;
	margin-top: 100px;
	margin-left: 10%;
	height: 80px;
	width: 80px;
	opacity: 1;
	cursor: pointer;}

#back{  
  float: right;
  margin-top: 100px;
  margin-right: 10%;
  height: 80px;
  width: 80px;
  cursor: pointer;}

h1{
  top: 0px;
	padding: 0px 0px;	
	font-family: 'prism', Verdana, Arial, serif;
	font-size: 8rem;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	color: black;}

h1 a{text-decoration: none; color: black;}

.back_cesko{
	text-decoration: none;}

h2{
	font-family: 'old', Verdana, Arial, serif;
	font-size: 300%;
	font-style: normal;
	text-align: center;
	color: black;}

 p{
	margin-top: 50px;
	padding: 0px 10%;
	font-family: 'old', Verdana, Arial, serif;
	font-size: 100%;
	font-style: normal;
	text-align: justify;
	color: black;}

.carte img{
  margin-top: 5%;
  margin-left: 15%;
  text-align: center;
  width: 70%;
  height: 70%;}

.prev_city img{
  position: relative;
  margin-top: 40px;
  cursor: pointer;
  float: right;
  margin-right: 150px;
  width: 53px;
  height: 53px;}

.next_city img{
  margin-top: 20px;
  cursor: pointer;
  float: right;
  margin-right: -130px;
  width: 60px;
  height: 60px;}

.next_city_prague img{
  margin-top: 20px;
  cursor: pointer;
  float: right;
  margin-right: 10%;
  width: 60px;
  height: 60px;}
  
p.email{
  background-color: #202020;
  padding:30px 0px; 
  font-family: 'poiret', Verdana, serif;
  font-weight: normal;
  font-size: 80%;
  margin-top: 100px;
  margin-bottom: 0%;
  color: white;
  text-align: center;
  line-height: 15px;}

p.email a, a:active{
  color: white;
  text-decoration: none;}